<div id="container">
    <svg id="canvas-zone">
        <rect id="app-fig" height="10" width="10">

        </rect>
    </svg>

    <div id="control-bloc">
        <div class="d-flex px-2">
            <mat-form-field appearance="outline" style="width: 100%; margin:0">
                <mat-label>Unit size</mat-label>
                <input matInput placeholder="unitSize" autocomplete="off">
            </mat-form-field>

        </div>

        <div class="d-flex">
            <mat-form-field  class="control-item" appearance="outline" style="width: 50%; margin: 0">
                <mat-label>X</mat-label>
                <input matInput placeholder="X" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline"  class="control-item" style="width: 50%">
                <mat-label>Y</mat-label>
                <input matInput placeholder="Y" autocomplete="off">
            </mat-form-field>
        </div>

        <div class="d-flex">
            <mat-form-field appearance="outline" class="control-item" style="width: 50%">
                <mat-label>Height</mat-label>
                <input matInput placeholder="Height" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" class="control-item" style="width: 50%">
                <mat-label>Width</mat-label>
                <input matInput placeholder="Width" autocomplete="off">
            </mat-form-field>
        </div>

    </div>

</div>